body{
	padding:0;
	margin: 0;
	background-color: #3D4F58;
	color: #95C2D7;
}
h1{
	padding: 2em;
}
.ng-cloak .ng-enter{
      animation: fadeIn 2s
}
footer{
	padding: 1.6em;
	bottom: 0;
	width: 100%;
	background-color: #95C2D7;
	color:  #3D4F58;
}
accordion .ng-enter {
    animation: fadeIn 0.5s
}

accordion .ng-leave {
    animation: fadeOut 0.5s
}
button.btn-search{
      margin-top: 25px;
}
.content, footer{
	position: relative;
}
div.content{
	min-height: 900px;
}
.list-group-item{
	    background-color: #F2F1EF;
			color: #8290A5;
}
