<div class="container">

     <div class="col-md-10 col-md-offset-1">
       <div class="thumbnail">
            <img class="img-responsive" ng-src={{info.description.Poster}}>
             <div class="caption row">
               <h3>{{info.description.Title}} &nbsp; <small class="badge">{{info.description.Released}}</small></h3>
               <p>
                 {{info.description.Plot}}
               </p>
               <div class="col-md-4">
                 <h4>Actors</h4>
                 <p ng-bind="info.description.Actors">

                 </p>
               </div>
               <div class="col-md-4">
               <h4>Directors</h4>
               <p ng-bind="info.description.Director">

               </p>
                </div>
               <div class="col-md-4">
               <h4>Country</h4>
               <p ng-bind="info.description.Country">

               </p>
                </div>
             </div>
           </div>

            </div>     
</div>
