
  <div class="container">
    <form class="form">
<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <label for="selectChoice">What are you looking for?</label>
    <select id="selectChoice" ng-model="homesearch.type" ng-options="option.name for option in homesearch.typeList track by option.id" class="form-control">
<option value="some">une option</option>
    </select>
    </div>

  </div>
  <div class="col-md-6">

    <div class="input-group">
      <label for="searchChoice">Name <span data-ng-show="homesearch.type">of your {{homesearch.type.name}}</span> </label>
      <input id="searchChoice" type="text" ng-model="homesearch.search" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="recherchez ici votre film/serie préférée..." style="">
      <span class="input-group-btn">
        <button class="btn btn-default btn-search ng-binding" type="button" data-ng-click="homesearch.lookingFor($event)"> <i class="fa fa-search" aria-hidden="true"></i> &nbsp; Trouver
        </button>
      </span>
    </div>
  </div>
</div>
</form>
<hr>
<div class="panel panel-info" ng-show="homesearch.msg">
  <div class="panel-heading">I just found theses {{homesearch.type.name}}</div>
  <div class="panel-body">
<p ng-repeat="(key, value) in homesearch.msg">
  {{key}} => {{value}}
</p>
  </div>
</div>
</div>
